header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 2em;
}

main {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-style: italic;
    font-size: 1.5em;
}

.imgcontent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img {
    max-width: 20em;
}

footer {
    position: fixed;
    bottom: 0px;
    background-color: #808080;
    width: 100%;
    text-align: center;
}

a{
    font-size: 0.5em;
}