

@import "../css/mainpageDesktop.css" screen and (min-width:1115px) ;
@import "../css/mainpageMobile.css" screen and (max-width: 1114px) ;
@import "../css/commonstyles.css";

h2 {
    color: #ff00c8;
   }

h3 {
    color: #bcbd93;
}
blockquote {
    color: #008b8b;
}

.defaultSetup {
    text-align: center;
}